@import 'tailwindcss';

@theme {
  --color-primary: #3490dc;
}

@utility tab {
  button:nth-child(1) {
    @apply bg-red-700 hover:bg-red-400;
  }
  button:nth-child(2) {
    @apply bg-yellow-700 hover:bg-yellow-400;
  }
  button:nth-child(3) {
    @apply bg-blue-700 hover:bg-blue-400;
  }
  button:nth-child(4) {
    @apply bg-purple-700 hover:bg-purple-400;
  }
  button:nth-child(8) {
    @apply bg-orange-700 hover:bg-orange-400;
  }
  button:nth-child(12) {
    @apply bg-lime-700 hover:bg-lime-400;
  }

  button:nth-child(16) {
    @apply bg-green-700 hover:bg-green-400 row-span-2;
  }
}
